<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h1>Welcome</h1></title>
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">All Recipes</a></li>
                <li><a href="/about">Pics</a></li>
                <li><a href="/services">Add Recipe</a></li>
                <li><a href="/contact">Favorites</a></li>
            </ul>
        </nav>
    </header>
    
    <main id="main-container">
        <div id="img-container">
            <img src="/imgs/Mike_Irvin.jpg" alt="michael irvin">
        </div>
        <div id="mission-statement">
            <h1>"SAVING THE RECIPES!!!"<br> - Michael Irvin, Dallas Cowboy Legend</h1>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 Laurent N. Tshisekedi</p>
    </footer>
</body>
</html>
